<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <span class="city">{{ res?.city.name }}</span>
    <span class="date">{{ res?.list[0].dt | date }}</span>

    <div class="icon">
      <img src="https://openweathermap.org/img/wn/{{ res?.list[0].weather[0].icon }}@2x.png" alt="">
    </div>

    <span class="description">{{ res?.list[0].weather[0].main }}</span>
    <span class="temperature">{{ res?.list[0].main.temp | number: '1.0-0' }}</span>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="day">{{ res?.list[0].dt | date }}</ion-col>
      <ion-col class="day">{{ res?.list[5].dt | date }}</ion-col>
      <ion-col class="day">{{ res?.list[13].dt | date }}</ion-col>
      <ion-col class="day">{{ res?.list[25].dt | date }}</ion-col>
      <ion-col class="day">{{ res?.list[30].dt | date }}</ion-col>
      <ion-col class="day">{{ res?.list[37].dt | date }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="precipitation">{{res?.list[0].main.humidity}}</ion-col> 
      <ion-col class="precipitation">{{res?.list[5].main.humidity}}</ion-col> 
      <ion-col class="precipitation">{{res?.list[13].main.humidity}}</ion-col> 
      <ion-col class="precipitation">{{res?.list[25].main.humidity}}</ion-col> 
      <ion-col class="precipitation">{{res?.list[30].main.humidity}}</ion-col> 
      <ion-col class="precipitation">{{res?.list[37].main.humidity}}</ion-col> 
    </ion-row>

    <ion-row>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[0].weather[0].icon }}.png" /></ion-col>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[5].weather[0].icon }}.png" /></ion-col>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[13].weather[0].icon }}.png" /></ion-col>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[25].weather[0].icon }}.png" /></ion-col>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[30].weather[0].icon }}.png" /></ion-col>
      <ion-col class="icon-sm"><img src="https://openweathermap.org/img/wn/{{ res?.list[37].weather[0].icon }}.png" /></ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="lo-sm">{{res?.list[0].main.temp_min}}</ion-col>
      <ion-col class="lo-sm">{{res?.list[5].main.temp_min}}</ion-col>
      <ion-col class="lo-sm">{{res?.list[13].main.temp_min}}</ion-col>
      <ion-col class="lo-sm">{{res?.list[25].main.temp_min}}</ion-col>
      <ion-col class="lo-sm">{{res?.list[30].main.temp_min}}</ion-col>
      <ion-col class="lo-sm">{{res?.list[37].main.temp_min}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="hi-sm">{{res?.list[0].main.temp_max}}</ion-col>
      <ion-col class="hi-sm">{{res?.list[5].main.temp_max}}</ion-col>
      <ion-col class="hi-sm">{{res?.list[13].main.temp_max}}</ion-col>
      <ion-col class="hi-sm">{{res?.list[25].main.temp_max}}</ion-col>
      <ion-col class="hi-sm">{{res?.list[30].main.temp_max}}</ion-col>
      <ion-col class="hi-sm">{{res?.list[37].main.temp_max}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
